{% extends 'core/base.html' %}

{% block title %}Създаване на нов свят{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Създаване на нов свят</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Име на света:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Описание:</label>
            <textarea id="description" name="description" rows="4" required></textarea>

            <label for="history">История:</label>
            <textarea id="history" name="history" rows="4"></textarea>

            <label for="geography">География:</label>
            <textarea id="geography" name="geography" rows="4"></textarea>

            <label for="cultures">Култури:</label>
            <textarea id="cultures" name="cultures" rows="4"></textarea>

            <label for="magic_and_technology">Магия и технологии:</label>
            <textarea id="magic_and_technology" name="magic_and_technology" rows="4"></textarea>

            <label for="religions_and_mythologies">Религии и митологии:</label>
            <textarea id="religions_and_mythologies" name="religions_and_mythologies" rows="4"></textarea>

            <label for="notes">Бележки:</label>
            <textarea id="notes" name="notes" rows="4"></textarea>

            <label for="image">Изображение на света:</label>
            <input type="file" id="image" name="image" accept="image/*">

            <button type="submit">Запази</button>
        </form>
    </div>

    <style>



    </style>
{% endblock %}
