{% extends 'core/base.html' %}

{% block title %}Създаване на нов свят{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Създаване на нов свят</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Име на света:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Описание:</label>
            <textarea id="description" name="description" rows="4" required></textarea>

            <label for="image">Изображение на света:</label>
            <input type="file" id="image" name="image" accept="image/*">

            <button type="submit">Запази</button>
        </form>
    </div>

    <style>



    </style>
{% endblock %}
